<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IPL Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/addTeam'}">Add Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/addPlayers'}">Add Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  th:href="@{'/matchSchedule'}">Schedule Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/editPlayers'}">Edit Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/editMatch'}">Edit Match</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<tr>


</tr>
<br>
<div align="center">
 <h1><b>Players</b></h1>
<table class="table table-bordered" align="center" style="width:40%">
    <tr>
        <th>Player Name</th>
        <th>Player Team</th>

    </tr>
    <tr th:each="player:${playerList}">
        <td th:text="${player.player_name}">
            <!--      <a th:href="@{/showPlayers/{team_id}(team_id=${Team.id})}">[[${Team.team_name}]]</a>-->
        </td>
        <td th:text="${player.team.team_name}"></td>
        <td>
            <a th:href="@{'/edit/' + ${player.id}}">Edit</a>
        </td>
        <td>
            <a th:href="@{'/delete/' + ${player.id}}">Delete</a>
        </td>
    </tr>

</table>

</div>

</body>
</html>
