<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IPL Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/new'}">Add new</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Teams.html">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header>
    <center><p> </p></center>

</header>

<div class="row col-md-12">
    <div th:each="Team : ${teamList}">
        <div class="col-md-3">
            <div class="card custom-card"
                 style="width: 15rem; display: inline-block">
                <div class="card-body">
                    <h5 class="card-title" th:text="${Team.team_name}"></h5>
                    <p class="card-text" th:text="${Team.captain}"></p>
<!--                    <p class="card-text" th:text="${item.itemdescription}">Desc</p>-->
<!--                    <a th:href="@{'/createforItemId/' + ${item.id}}"-->
<!--                       class="stretched-link btn btn-sm btn-primary mr-2"><i-->
<!--                            class="fas fa-rocket mr-2"></i> Start New Discussion</a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer>

</footer>
</body>
</html>