<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title> </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IPL Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/addTeam'}">Add Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/addPlayers'}">Add Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  th:href="@{'/matchSchedule'}">Schedule Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/editPlayers'}">Edit Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/editMatch'}">Edit Match</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div align="center">
    <h1>Update Player</h1>
    <br />
    <div class="col-sm-4">
        <form action="#" th:action="@{/Save}" th:object="${Player}" method="post">

            <div class="input-group">
                <span class="input-group-text "  >ID</span>
                <input type="text" aria-label="Name" readonly class="form-control" th:field="*{id}" />

            </div>
            <br>
            <div class="input-group">
                <span class="input-group-text "  >Player Name</span>
                <input type="text" aria-label="Name" readonly class="form-control" th:field="*{player_name}" />
                <td th:if="${#fields.hasErrors('player_name')}" th:errors="*{player_name}">name not null</td>

            </div>

            <br>
            <div class="input-group">
                <label   class="form-label">Team: </label>
                <select th:field="*{team}" class="custom-select">
                    <div th:each="teams:${teamList}">
                        <option th:value="${teams.id}" th:text="${teams.team_name}"></option>
                    </div>
                </select>
            </div>
            <br>
            <div class="input-group">
                <label for="players">Player Role</label>

                <select th:field="*{player_role}"  id="players">

                    <option value="Batsman">Batsman</option>
                    <option value="Bowler">Bowler</option>
                    <option value="All Rounder">All Rounder</option>

                </select>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('player_role')}" th:errors="*{player_role}">name not null</div>

            </div>
            <br>

            <!--            <br>-->
            <!--            <div class="input-group">-->
            <!--                <label   class="form-label">Team Id</label>-->
            <!--                <select th:field="*{team}" class="custom-select">-->
            <!--                    <div th:each="team:${teamList}">-->
            <!--                        <option th:value="${team.id}" th:text="${team.id}"></option>-->
            <!--                    </div>-->
            <!--                </select>-->
            <!--            </div>-->
            <br>

            <br>
            <button type="submit" class="btn btn-info">Save</button>

        </form>

    </div>
</div>
</body>
</html>