<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title> Update Match</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IPL Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/addTeam'}">Add Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/addPlayers'}">Add Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  th:href="@{'/matchSchedule'}">Schedule Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/editPlayers'}">Edit Players</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/editMatch'}">Edit Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  th:href="@{'/EditListScore'}">Update Score</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link "  th:href="@{'/login'}">Admin</a>
            </li>
        </ul>
    </div>
</nav>

<div align="center">
    <h1>Update Match</h1>
    <br />
    <div class="col-sm-4">
        <form action="#" th:action="@{/SaveMatch}" th:object="${match}" method="post">
            <div class="input-group">
                <span class="input-group-text">Match ID</span>
                <input type="text" readonly aria-label="" class="form-control" th:field="*{matchid}" />

            </div>
            <br>
            <div class="mb-3">
                <label   class="form-label">Team1</label>
                <select th:field="*{team1}" class="custom-select" disabled>
                    <div th:each="team:${teamList}">
                        <option th:value="${team.id}"  th:text="${team.team_name}" ></option>
                    </div>
                </select>
            </div>
            <br>

            <div class="mb-3">
                <label   class="form-label">Team2</label>
                <select th:field="*{team2}" class="custom-select" disabled>
                    <div th:each="team:${teamList}">
                        <option th:value="${team.id}" th:text="${team.team_name}"></option>
                    </div>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="datetime-local" name="meeting-time" th:id="meeting-time"
                       min="2021-06-07T00:00" max="2030-06-14T024:00" th:field="*{schedule_date}"/>

            </div>

            <script th:inline="javascript">
    // function checkDate() {
    //     var selectedDate = document.getElementById('meeting-time').value;
    //     var now = new Date();
    //     if (selectedDate < now) {
    //         alert("Date must be in the future");
    //     }
    // }

    window.onload = function(){
        elem = document.getElementById("meeting-time")
        var iso = new Date().toISOString();
        console.log("Yeaaa I am running::::::::");
        var minDate = iso.substring(0,iso.length-1);
        elem.value = minDate
        elem.min = minDate
    };

</script>

            <style>label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
</style>


            <br>
            <div class="input-group">
                <span class="input-group-text ">Venue</span>
                <!--                <input type="text" aria-label="Name" class="form-control" th:field="*{venue}" />-->
                <select aria-label="Name" id="Venue" class="form-control" th:field="*{venue}">
                    <option value="M Chinnaswami Stadium ,Bangaluru">M Chinnaswami Stadium ,Bangaluru</option>
                    <option value="Narendra Modi Stadium, Gujrat">Narendra Modi Stadium, Gujrat</option>
                    <option value="Chepak Stadium, Chennai">Chepak Stadium, Chennai</option>
                    <option value="Eden Garden ,Kolkata ">Eden Garden ,Kolkata</option>
                    <option value="Arun jaitley Stadium,New Delhi ">Arun jaitley Stadium,New Delhi</option>
                    <option value="Green Park Stadium, Kanpur">Green Park Stadium, Kanpur</option>
                    <option value="Wankhede Stadium, Mumbai">Wankhede Stadium, Mumbai</option>
                    <option value="Swami Mansingh Stadium,Jaipur ">Swami Mansingh Stadium,Jaipur</option>
                    <option value="Holkar Stadium, Indore">Holkar Stadium, Indore</option>
                    <option value="Rajiv Gandhi Stadium, Hydrabad">Rajiv Gandhi Stadium, Hydrabad</option>
                    <option value="PCA Stadium,Mohali">PCA Stadium,Mohali</option>
                    <option value="JACA Stadium , Ranchi">JACA Stadium , Ranchi</option>

                </select>

            </div>
            <br>

            <br>


                            <br>
                            <button type="submit" class="btn btn-info">Save</button>




        </form>
    </div>


</div>
</body>
</html>