<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">IPL Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/Teams'}">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  th:href="@{'/viewMatch'}">Match</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  th:href="@{'/Admin'}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link "  th:href="@{'/showPlayers'}">Players</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<div>
<!--    <a class="btn btn-primary" th:href="@{'/addTeam'}" role="button">Add Team</a>-->

</div>
 <br>
<div align="center">
    <h1><b>Scheduled Matches<b></h1>

    <table class="table table-bordered" style="width:40%">
    <tr>
        <th>Team 1 </th>
        <th>Team 2</th>
        <th>Date</th>
        <th>Venue</th>
    </tr>
    <tr th:each="match:${matchModelsList}">

        <td th:text="${match.team1}"></td>
        <td th:text="${match.team2}"></td>
        <td th:text="${match.schedule_date}"></td>
        <td th:text="${match.venue}"></td>

    </tr>

</table>




</body>+
</html>
