<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Add Team</title>
</head>
<body>

<!--Form -->
<div class="FormContainer">
    <form>
        <label for="Tname"><b> Team Name </b></label><br>
        <input type="text" placeholder="Enter Team Name" name="Tname" id="Tname" required><br>

        <label for="Tname"><b> Team ID </b></label><br>
        <input type="text" placeholder="Enter Team ID" name="Tid" id="Tid" required>


        <label for="Tname"><b> Captain Name </b></label><br>
        <input type="text" placeholder="Enter Captain Name" name="Cname" id="Cname" required>

        <button type="submit" class="submitbtn"> Submit </button>
    </form>
</div>
</body>
</html>